<div class="card m-0">
    <div class="card-body">
        <h1>Endpoint User</h1>
        <h2>a. POST : Envia el parametron de startDate y Enddate para obtener todos los usuarios limitados por la fecha de inicio y fin.</h2>
        <h3>No me funciono este</h3>

        <form>
            <div class="form-group">
                <label for="formGroupExampleInput2">TYPE startDate </label>
                <input type="text" name="imes" #imes class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">TYPE EndDate </label>
                <input type="text" name="imes" #imes class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
            </div>
        </form>


        <div class="card-body">
            <button type="button" class="btn btn-primary">Find</button>
            <button type="button" class="btn btn-danger">Clear</button>
        </div>




        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Month</th>
                    <th scope="col">Is</th>
                    <th scope="col">Id</th>
                    <th scope="col">Hours</th>
                    <th scope="col">Seconds</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td>{{monthResp.imes}}</td>
                    <td>{{monthResp.isstr}}</td>
                    <td>{{monthResp.id}}</td>
                    <td>{{monthResp.hours}}</td>
                    <td>{{monthResp.seconds}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>