<div class="card m-0">
    <div class="card-body">
        <h1>Endpoint Period</h1>
        <h2>a. GET: Obten todos los registros de usuarios del mes introducido</h2>

        <form>
            <div class="form-group">
                <label for="formGroupExampleInput2">TYPE the number of the month</label>
                <input type="text" name="imes" [(ngModel)]="month.imes" #imes class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
            </div>
        </form>


        <div class="card-body">
            <button (click)="recuperarTodosPeriodos()" type="button" class="btn btn-primary">Find</button>
            <button type="button" class="btn btn-danger">Clear</button>
        </div>




        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Month</th>
                    <th scope="col">Is</th>
                    <th scope="col">Id</th>
                    <th scope="col">Hours</th>
                    <th scope="col">Seconds</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Month of monthResp">
                    <td>{{Month.imes}}</td>
                    <td>{{Month.isstr}}</td>
                    <td>{{Month.id}}</td>
                    <td>{{Month.hours}}</td>
                    <td>{{Month.seconds}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>