<div class="card m-0">
    <div class="card-body">
        <h2>Pruebas days</h2>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Is</th>
                    <th scope="col">id</th>
                    <th scope="col">Horas</th>
                    <th scope="col">Segundos</th>
                    <th scope="col">Date</th>
                    <th scope="col">Cin</th>
                    <th scope="col">Cout</th>
                </tr>
            </thead>
            <tbody class="font-example">
                <tr *ngFor="let day of days">
                    <td>{{day.is}}</td>
                    <td>{{day.id}}</td>
                    <td>{{day.hours}}</td>
                    <td>{{day.seconds}}</td>
                    <td>{{day.date}}</td>
                    <td>{{day.cin}}</td>
                    <td>{{day.cout}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>