<div class="container-fluid py-5">

    <div class="mb-2rem">
        <h6 class="h5 mb-1 text-uppercase" routerLink="/users">User</h6>
        <h3 class="m-0 text-uppercase"><b>Filter</b></h3>
    </div>

    <app-user-table></app-user-table>


</div>